
body,
input,
button {
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 3.125rem 2rem;

  @include breakpoint-up (medium) {
    padding: 2.8125rem 1.875rem;
  }
}

button,
.button {
  border: none;
  cursor: pointer;
  color: $darkBlue;
  font-weight: bold;
  border-radius: .25rem;
  background-color: $white;
  padding: .625rem .9375rem;
  text-transform: uppercase;
  box-shadow: 0 .0625rem .1875rem $veryLightGray;

  i {
    margin-right: 1rem;
  }
}

@mixin flex {
  display: flex;

  @content;
}

%flexJC_SB-AI_C {
  align-items: center;
  justify-content: space-between;
}

%flexJC_AI_CENTER {
  align-items: center;
  justify-content: center;
}

%flexFD_C {
  flex-direction: column;
}


@include breakpoint-up (desktop) {
  .onlydesktop {
    display: block;
  }

  .onlymobile {
    display: none;
  }
}

@include breakpoint-down (desktop) {
  .onlydesktop {
    display: none;
  }

  .onlymobile {
    display: block;
  }
}



.route-leave-enter-active,
.route-enter-enter-active,
.route-leave-leave-active,
.route-enter-leave-active {
  transition: all .1s ease-in-out;
}

.route-leave-enter-to,
.route-enter-enter-to,
.route-leave-leave-to,
.route-enter-leave-to {
  visibility: visible;
}

.route-leave-enter-to,
.route-enter-enter-to {
  opacity: 1;
}

// ANIMACOES DURANTE AS MUDANCAS DE ROTAS
.route-leave-enter,
.route-enter-enter,
.route-leave-leave-to,
.route-enter-leave-to {
  opacity: 0;
}
