
body {
  font-family: 'Nunito Sans', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 2.8125rem 1.875rem;
}

@mixin flex {
  display: flex;

  @content;
}

%flexJC_SB-AI_C {
  align-items: center;
  justify-content: space-between;
}

%flexFD_C {
  flex-direction: column;
}
