*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: 0 none;
  list-style: none;
  user-select: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  font-size: 95%;
}

body {
  position: relative;
}